@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap');

* {
  outline: none;
  box-sizing: border-box;
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overscroll-behavior: none;
  font-family: 'Space Grotesk', sans-serif;
}

body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  cursor: default;
}

input,
select,
textarea,
button {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  border: none;
  outline: none;
  background: none;
  -webkit-appearance: none;
  font-family: inherit;
}

button {
  cursor: pointer;
}

p,
a {
  font-size: 1rem;
  margin: 0;
  text-decoration: none;
  font-family: inherit;
  color: inherit;
}